img {
    width: 250px;
    height: 200px;
}

:host.odd {
    background-color: rgb(222, 217, 217);
}

:host.water {
    background-color: black;
    color: green
}

:host.building {
    background-color: green;
    color: grey
}

:host {
    display: block;
    width: 250px;
    text-align: center;
    margin: 8px auto;
    border: 2px solid #000;
    padding: 8px;
}

.title {
    background-color: red;
}