{{title}}
<div class="container">
<table >
  <thead>
  <tr>
  <td>ID </td>
  <td>Place </td>
  <td>Country </td>
  <td>Rank </td>
  <td>Description</td>
  <td>Tags</td>
    <td>Image</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of Place">

    <td>{{data.id}}</td>
    <td>{{data.placeName}}</td>
    <td>{{data.Country}}</td>
    <td>{{data.Rank}}</td>
    <td>{{data.discription}}</td>
    <td>{{data.hashtag}}</td>
    <td><img src="{{data.imageLink}}"/></td>
  </tr>
  </tbody>
</table>
</div>
