<h1>Filter By : Water</h1>
<app-content-card *ngFor="let item of (places|filterContent:'Water') ;index as i;odd as odd" [contentItem]="item" [class.odd]="odd">

</app-content-card>
<h1>Filter By : Buildings</h1>
<app-content-card *ngFor="let item of (places|filterContent:'Building') ;index as i;odd as odd" [contentItem]="item" [class.odd]="odd">
</app-content-card>

<h1>Filter By : No Type</h1>
<app-content-card *ngFor="let item of places|filterContent ;index as i;odd as odd" [contentItem]="item" [class.odd]="odd">
</app-content-card>