<div class="container">
    <div class="header">
        <h1><span *ngIf="place?.id">Update A Place</span><span *ngIf="!place">Add A New Place </span></h1>

    </div>
    <div *ngIf="place" class="row">
        <div class="col-25">
            <label> Your ID </label>
        </div>
        <div class="col-75">
            <input value="{{place?.id}}">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label>Name of Place</label>
        </div>
        <div class="col-75">
            <p *ngIf="place?.id">Current Value:- {{place?.placeName}}</p>
            <input type="text" [(ngModel)]="contentItem.placeName" placeholder="Enter new Place">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="Country">Country</label>
        </div>
        <div class="col-75">
            <p *ngIf="place?.id">Current Value:- {{place?.Country}}</p>
            <input type="text" [(ngModel)]="contentItem.Country" placeholder="Write the Country Of Place">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="Type">Type</label>
        </div>
        <div class="col-75">
            <p *ngIf="place?.id">Current Value:- {{place?.Type}}</p>
            <input type="text" [(ngModel)]="contentItem.Type" placeholder="Write new Type">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="discription">Discription</label>
        </div>
        <div class="col-75">
            <p *ngIf="place?.id">Current Value:- {{place?.discription}}</p>
            <textarea [(ngModel)]="contentItem.discription" *ngIf="!place?.id" placeholder="Write something.." style="height:200px"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="discription">Image Link</label>
        </div>
        <div class="col-75">
            <div *ngIf="place?.id" [ngSwitch]="place?.imageLink">
                <span *ngSwitchCase='""'>No Imgage Found</span>
                <span *ngSwitchDefault><img  src="{{place?.imageLink}}" class="card-img-top"  alt="..."></span>
            </div>

            <input type="text" [(ngModel)]="contentItem.imageLink" placeholder="Insert Your Link Here">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="discription">Tags</label>
        </div>
        <div class="col-75">
            <textarea [(ngModel)]="tempTags" *ngIf="!place?.id" placeholder="Write something.." style="height:200px"></textarea>
            <p *ngIf="place?.id">Current Tags:- {{place?.hashtag}}</p>
        </div>
    </div>

    <div class="row">
        <button class="content" (click)="+(place?.id || 'falsy') ? updateContentOnServer(): addContentToServer() ">
                <span *ngIf="!place?.id" >Add Content</span> 
                <span *ngIf="place?.id" >Update Content</span> 
         </button>
    </div>

</div>