<div class="container">
    <div class="header">
        <h1><span *ngIf="place?.id">Update A Place</span><span *ngIf="!place">Add A New Place </span></h1>

    </div>
    <div *ngIf="place" class="row">
        <div class="col-25">
            <label>Select Your ID </label>
        </div>
        <div class="col-75">
            <input type="number" [(ngModel)]="contentItem.id" placeholder="Id">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label>Name of Place</label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="contentItem.placeName" placeholder="Place name..">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="Country">Country</label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="contentItem.Country" placeholder="Write the Country Of Place">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="Type">Type</label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="contentItem.Type" placeholder="Write the Type Of Place">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="discription">Discription</label>
        </div>
        <div class="col-75">
            <textarea [(ngModel)]="contentItem.discription" placeholder="Write something.." style="height:200px"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="discription">Image Link</label>
        </div>
        <div class="col-75">
            <textarea [(ngModel)]="contentItem.imageLink" placeholder="Write something.." style="height:200px"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="discription">Tags</label>
        </div>
        <div class="col-75">
            <textarea [(ngModel)]="tempTags" placeholder="Write something.." style="height:200px"></textarea>
        </div>
    </div>

    <div class="row">
        <button class="content" (click)="+(contentItem.id || 'falsy') ? updateContentOnServer(): addContentToServer()">
       Submit 
         </button>
    </div>

</div>