<div class="container">
    <div class="header">
        <h1><span *ngIf="place?.id">Update A Place</span><span *ngIf="!place">Add A New Place </span></h1>

    </div>
    <div *ngIf="place" class="row">
        <div class="col-25">
            <label> Your ID </label>
        </div>
        <div class="col-75">
            <input placeholder=" {{place?.id}}">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label>Name of Place</label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="contentItem.placeName" *ngIf="place?.id" placeholder="{{place?.placeName}}">
            <input type="text" [(ngModel)]="contentItem.placeName" *ngIf="!place?.id" placeholder="Enter new Place">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="Country">Country</label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="contentItem.Country" *ngIf="place?.id" placeholder="{{place?.Country}}">
            <input type="text" [(ngModel)]="contentItem.Country" placeholder="Write the Country Of Place">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="Type">Type</label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="contentItem.Type" placeholder="Write the Type Of Place">
            <input type="text" [(ngModel)]="contentItem.Type" *ngIf="place?.id" placeholder="{{place?.Type}}">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="discription">Discription</label>
        </div>
        <div class="col-75">
            <textarea [(ngModel)]="contentItem.discription" placeholder="Write something.." style="height:200px"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="discription">Image Link</label>
        </div>
        <div class="col-75">
            <textarea [(ngModel)]="contentItem.imageLink" placeholder="Write something.." style="height:200px"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="discription">Tags</label>
        </div>
        <div class="col-75">
            <textarea [(ngModel)]="tempTags" placeholder="Write something.." style="height:200px"></textarea>
        </div>
    </div>

    <div class="row">
        <button class="content">
                <span *ngIf="!place?.id" (click)="addContentToServer()">Add Content</span> 
                <span *ngIf="place?.id" (click)="updateContentOnServer()">Update Content</span> 
         </button>
    </div>

</div>