<div class="header">
    <a href="#default" class="logo">Manjot Singh</a>
    <div class="header-right">
        <a routerLink="/list" routerLinkActive="active">Home</a>
        <a routerLink="/filterlist" routerLinkActive="active">Filter By Type</a>
        <a routerLink="/search" routerLinkActive="active">Search</a>
        <a routerLink="/addContent" routerLinkActive="active">Add Content</a>
        <a routerLink="/updateContent/1" routerLinkActive="active">Update Content</a>
    </div>
</div>